*{
  margin: 0;
  padding: 0;

}

body{
  background-image: url("/icons/background/1062.jpg");
  background-repeat: no-repeat;
  /* background-size: 10rem; */
  min-height: 90vh;
  display: flex;
}

.buttonBack{
  display: flex;
  justify-content: flex-end;
}

.iconBack{
  width: 30PX;
  height: 30px;

}

form{
  background-color: #fff;
  margin: auto;
  width:90%;
  max-width:400px;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  padding: 2.5em 3em;
  text-align: center;
}

h2{
  font-size: 2rem;
  margin-bottom: .5em
}

form p{
  font-weight: 300;
  margin-top: 30px;
}

form a{
  font-weight: 300;
  color:black;
}

.formContainer{
  margin-top: 2em;
  display: grid;
  gap: 2.5em;
}

.formInput{
  position: relative;
}

.formInputInside{
  width: 100%;
  background: none;
  color:#706c6c; 
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline:none;
  border-bottom: 1px solid;
}

.formInputInside:focus + .formLabel,
  .formInputInside:not(:placeholder-shown) + .formLabel{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: #3866f2;
}

.formInputInside:focus,
  .formInputInside:not(:placeholder-shown) ~ .formLine{
    color:#4d4646;
  }

.formLabel{
  color:#706c6c;
  cursor: pointer;
  position: absolute;
  top:0;
  left: 5px;
  transform: translateY(15px);
  transition: transform .5s, color .3s
}

.formSubmit{
  background-color:#3866f2;
  color:#fff;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;
  transition: background-color .3s;
}

.formSubmit:hover{
  background-color:#0e48f7;
}

.formLine{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform:scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.formInputInside:focus ~ .formLine,
  .formInputInside:not(:placeholder-shown) ~ .formLine{
    transform: scale(1)
  }   

  @media (max-width: 425px){
    h2{
      font-size:1.8rem;
    }
  }