
main{
  display: flex;
}

.menu{
  width: 15%;
  height: 90vh;
  background-color:red;
  border-radius:0 5px 5px 0;
}

.menu ul{
  /* padding: 10px 0 0 10px; */
  text-decoration: none;
  display:flex;
  flex-direction: column;
}

.menu ul li{
  margin: 20px 0 0 10px;
}

.linkMenuOption{
  text-decoration: none;
  color: white;
}

.sectionChart{
  /* background-color:aquamarine; */
  display: flex;
  width:100vw;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.chartContainer{ 
  background-color: greenyellow;
  width:80%;

}


.valuesContainer{
  display:flex;
  justify-content:space-between;
  width: 90%;
  /* align-items: flex-end; */
  margin:20px 10px 0 20px;
}



.exportContainer{
  display:flex;
  justify-content:center;
  width: 100%;
  /* align-items: flex-end; */
  margin:20px 10px 0 20px; 
}

.divValue{
  border: 1px solid black;
  border-radius:5px;
  padding:10px;
  /* width:20%; */
  display:flex;
  justify-content:center; 
}