*{
  margin: 0;
  padding: 0;
  
}
html{
  /* min-height: 100%; */
  position: relative;
}

body{
  /* background-image: url("/icons/background/1062.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: 10rem; */
  /* min-height: 90vh; */
  /* display: flex; */
    margin:0;
    /* position:relative; */
    /* margin-bottom: 40px; */
}

header{
  display:flex;
  justify-content: center;
}

.headerLogo{
  display: flex;
  justify-content: center;
  align-items:center
}

.headerLogo img{
  width: 50px;
  height: 50px;
}


.title{
  width:80%;
  display: flex;
  justify-content: center
}

.headerIconsMenu{
  /* display:flex;
  justify-content: space-between; */
  width: 15%;
  
}

.headerMenu{
  display: flex;
  justify-content: space-around;
}

.headerIcon{
  width: 30px;
  height: 30px;
  
}


.headerMenu li{
  list-style: none;
}



.menu{
  width: 9%;
  height: 90vh;
  grid-column: 1/2;
  grid-row:2/8;
  background-color:#088cd4;
  border-radius:0 8px 8px 0;
}

.menu ul{
  /* padding: 10px 0 0 10px; */
  text-decoration: none;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.menu ul li:nth-child(3){
  display: flex;
  /* justify-content: flex-end; */
  align-items:flex-end;
  height: 100%;
  padding-bottom: 20%;
  
  /* background-color: red; */
}

.menu ul li{
  margin: 20px 0 0 10px;
}

.menu ul li a{
  text-decoration:none;
  color: white;
}

.menu ul li div{
  cursor: pointer;
}

.linkMenuOption{
  text-decoration: none;
  color: white;
}


/* form user password */
.principalContainer{
  /* height: 80vh; */
  display: flex;
  /* width:100vw; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-bottom: 40px; */
  padding:0; 
} 

.devicesAndFormContainer{
  width:100%;
}

.sectionAddButton{
  height: 100px;
  display:flex;
  justify-content:flex-start;
  align-items:flex-end;
  margin: 0 0 10px 25px;
  grid-column:2/3;
  grid-row:2/3;
}

.formCreateNewDevice{
  position:absolute;
  top: 3rem;
  width:100%;
 display:flex;
  justify-content:center;
  
}

.divInputsContainer{
  display:flex;
  justify-content:space-around;
}

.divInputsContainer input{
  border-radius: 5px;
  color: red;
}

.sectionAddButton input{
  /* width: 30px;
  height: 30px;
  border-radius: 20%;
  color: green; */
}

/* styles for dashboard.html */
.devicesContainer{
  /* width:100%; */
  /* background-color: red; */
  padding:10px;
  margin-bottom: 40px;
  margin-left:20px;
  /* margin-bottom: 20px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.deviceContainer{
  
  /* width:30%; */
  /* height:250px; */
  margin:0 0 10px 0;
  position:relative;
  z-index:0;
  
}

.deviceContainer-description{
  /* width */
  border: 1px solid black;
  border-radius:8px;
  background-color: #F0FFFF;
  display:grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    " . . ideal ideal"
    "temp temp temp temp"
    "min min min min"
    "max max max max"
    "button button button button";
}

.deviceName{
  position:absolute;
  top:-10px;
  left: 25px;
  z-index:3;
  background-color:#32a852;
  color:white;
  border-radius: 8px;
  width: 50%;
  justify-content:center;
}

.ideal{
  /* background-color: blue; */
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  display:flex;
  justify-content:space-around;
  align-items: flex-end;
}

.temp{
  /* background-color: lightcoral; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.min{
  /* background-color: lightcyan; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 7;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.max{
  /* background-color: lightgreen; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 9;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.deviceButtons{
  /* background-color: lightsalmon; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 12;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.deviceInputDelete {
  background-color:#32a852;
  border: none;
  border-radius:8px;
  padding: 10px;
  color: white;
}

.deviceimgButton{
  width: 25px;
  height:25px;
  justify-self: flex-start;
}

.deviceInputDelete:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.deviceInputStatus{
  background-color:#32a852;
  border: none;
  border-radius:8px;
  padding: 10px;
  color: white;
}

.deviceInputStatus:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.containerMessage{
  background: rgba(0,0,0,0.9);
  color:#fff;
  /* display:flex; */
  /* justify-content: center; */
  /* align-items: center; */
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  transition:all .5s;
  z-index: 4;
  /* position:absolute; */
  /* justify-self: center; */
}

.containerMessageButton{
  background-color: red;
  border-radius: 8px;
  width:60%;
  height:40%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  text-align:center;
  /* display:flex; */
  /* justify-content:center; */
  align-items: center;
}

.messageP{
  
  font-size: 1.5em;
  text-align: center;

}

.buttonsContainer{
  
  text-align: center;
  display: flex;
  justify-content:space-around;
  width: 100%;
  height: 100%;
}

.aggreButton{
  color:green;
}

.cancelButton{
  color:yellow;
}

footer{
  color: gray;
  font-size: small;
  /* position:absolute; */
  bottom: 0;
  /* width:100%; */
  /* height:40px; */
}
.cr{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.legal{
  display: flex;
  width: 100%
  /* justify-content:space-around; */
}

.legal ul{
  display:flex;
  width: 100%;
  list-style:none;
}

.legalTerms{

  /* justify-content:flex-start; */
}

.legalTerms li{
  margin: 15px 15px 15px 5px;
}

.legalSocial{
  justify-content:flex-end;
}

.legalSocial li{
  margin: 5px
}