*{
  margin: 0;
  padding: 0;
  
}
html{
  /* min-height: 100%; */
  position: relative;
}

body{
  /* background-image: url("/icons/background/1062.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: 10rem; */
  /* min-height: 90vh; */
  /* display: flex; */
    margin:0;
    /* margin-bottom: 40px; */
}

header{
  display:flex;
  /* justify-content: center; */
}

.headerLogo{
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-items:center;
  width: 15%;
}

.headerLogo img{
  width: 50px;
  height: 50px;
}


.title{
  width:80%;
  display: flex;
  justify-content: center
}

.clientTitle{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerIconsMenu{
  /* display:flex;
  justify-content: space-between; */
  width: 15%;
  
}

.headerMenu{
  display: flex;
  justify-content: space-around;
}

.headerIcon{
  width: 30px;
  height: 30px;
  
}


.headerMenu li{
  list-style: none;
}

.formContainerNewDevice{
  grid-column: 2/8;
  grid-row:2/3;
}

/* form user password */
.principalContainer{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding:0;
  grid-column: 3/7;
  grid-row:3/8;
}

.sectionAddButton{
  height: 100px;
  display:flex;
  justify-content:flex-start;
  align-items:flex-end;
  margin: 0 0 10px 25px;
  grid-column:2/3;
  grid-row:2/3;
}

.formCreateNewDevice{
  position:absolute;
  top: 3rem;
  width:100%;
 display:flex;
  justify-content:center;
  grid-column: 3/9;
  grid-row:2/3;
}

.divInputsContainer{
  display:flex;
  justify-content:space-around;
}

.divInputsContainer input{
  border-radius: 5px;
  color: red;
}

.sectionAddButton input{
  /* width: 30px;
  height: 30px;
  border-radius: 20%;
  color: green; */
}

/* styles for dashboard.html */
.devicesContainer{
  background-color: red;
  padding:10px;
  margin-bottom: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-column:2/9;
  grid-row:2/8;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.deviceContainer{
  
  /* width:30%; */
  /* height:250px; */
  margin:0 0 10px 0;
  position:relative;
  z-index:0;

}

.deviceContainer-description{
  /* width */
  border: 1px solid black;
  display:grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    " . . ideal ideal"
    "temp temp temp temp"
    "min min min min"
    "max max max max"
    "button button button button";
}

.deviceName{
  position:absolute;
  top:-10px;
  left: 25px;
  z-index:3;
  /* background-color:lightgreen; */
}

.ideal{
  /* background-color: blue; */
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  display:flex;
  justify-content:space-around;
  align-items: flex-end;
}

.temp{
  /* background-color: lightcoral; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.min{
  /* background-color: lightcyan; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 7;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.max{
  /* background-color: lightgreen; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 9;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.deviceButtons{
  /* background-color: lightsalmon; */
  grid-column-start:2;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 12;
  display: flex;
  justify-content:space-around;
  align-items:center
}

.buttonBack{
  display: flex;
  justify-content: flex-end;
}

.iconBack{
  width: 30PX;
  height: 30px;

}

form{
  background-color: #fff;
  margin: auto;
  width:90%;
  max-width:400px;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  padding: 2.5em 3em;
  text-align: center;
}

h2{
  font-size: 2rem;
  margin-bottom: .5em
}

form p{
  font-weight: 300;
  margin-top: 30px;
}

form a{
  font-weight: 300;
  color:black;
}

.formContainer{
  margin-top: 2em;
  display: grid;
  gap: 2.5em;
}

.formInput{
  position: relative;
}

.formInputInside{
  width: 100%;
  background: none;
  color:#706c6c; 
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline:none;
  border-bottom: 1px solid;
}

.formInputInside:focus + .formLabel,
  .formInputInside:not(:placeholder-shown) + .formLabel{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: #088cd4;
}

.formInputInside:focus,
  .formInputInside:not(:placeholder-shown) ~ .formLine{
    color:#4d4646;
  }

.formLabel{
  color:#706c6c;
  cursor: pointer;
  position: absolute;
  top:0;
  left: 5px;
  transform: translateY(15px);
  transition: transform .5s, color .3s
}

.errorUserInfo{
  background-color:red;
  color:#fff;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;
}

.formSubmit{
  background-color:#088cd4;
  color:#fff;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;
  transition: background-color .3s;
}

.formSubmit:hover{
  background-color:#067faf;
}

.formLine{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 1px;
  background-color: #088cd4;
  transform:scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.formInputInside:focus ~ .formLine,
  .formInputInside:not(:placeholder-shown) ~ .formLine{
    transform: scale(1)
  }   

/* Footer */

footer{
  color: gray;
  font-size: small;
  /* position:absolute; */
  bottom: 0;
  /* width:100%; */
  /* height:40px; */
  grid-column:1/9;
  grid-row:6/7;
}
.cr{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.legal{
  display: flex;
  width: 100%
  /* justify-content:space-around; */
}

.legal ul{
  display:flex;
  width: 100%;
  list-style:none;
}

.legalTerms{

  /* justify-content:flex-start; */
}

.legalTerms li{
  margin: 15px 15px 15px 5px;
}

.legalSocial{
  justify-content:flex-end;
}

.legalSocial li{
  margin: 5px
}

body{
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
  "header header header header header header header header"
  "menu data data data data data data data"
  "menu data data data data data data data"
  "menu data data data data data data data"
  "menu data data data data data data data"
  "menu data data data data data data data"
  "menu data data data data data data data"
  "footer footer footer footer footer footer footer footer"
}

header {
  grid-column: 1/9;
  grid-row: 1/2;
}



.menu{
  /* width: 20%; */
  height: 85vh;
  grid-column: 1/2;
  grid-row:2/8;
  background-color:#088cd4;
  border-radius:0 8px 8px 0;
}

.menu ul{
  /* padding: 10px 0 0 10px; */
  text-decoration: none;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.menu ul li:nth-child(5){
  display: flex;
  /* justify-content: flex-end; */
  align-items:flex-end;
  height: 100%;
  padding-bottom: 20%;
  
  /* background-color: red; */
}

.menu ul li{
  margin: 20px 0 0 10px;
  /* width:100%; */
}

.dataconfigGraph{
  grid-column:2/9;
  grid-row:7/8;
}

.linkMenuOption{
  text-decoration: none;
  color: white;
}

.configContainer{
  grid-column:2/9;
  grid-row:2/5;
  display:flex;
  flex-direction: column;
}

.inputConfig{
  width: 20%;
}

/* main{
  display: flex;
} */


.linkMenuOption{
  text-decoration: none;
  color: white;
}

.sectionChart{
  
  grid-column:2/9;
  grid-row:2/7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "graph graph graph graph graph graph"
  "graph graph graph graph graph graph"
  "graph graph graph graph graph graph"
  "graph graph graph graph graph graph"
  " . . . . . . "
  "input input input input input input"
  ;
  align-items: stretch;
  justify-items:stretch;

}

.chartContainer{ 
  /* background-color: greenyellow; */
  width:98%;
  /* height: 30%; */
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: stretch;
  align-self: stretch;
}


.valuesContainer{
  grid-column: 2/9;
  grid-row: 7/8;
  display:flex;
  justify-content:space-between;
  /* width: 90%; */
  /* align-items: flex-end; */
  margin:20px 10px 0 20px;
}

.minValueButtonContainer{
  display:flex;
  width: 30%;
  align-items: center;
  justify-content:center;

}

.divRefresh{
  width: 1.5rem;
  height: 1.5rem;
}

.divContainerRefresh{
  margin-left: .5rem;
}

.exportContainer{
  grid-column: 1/7;
  grid-row: 6/7;
  display:flex;
  justify-content:center;

  /* width: 100%; */
  /* align-items: flex-end; */
  margin:20px 10px 10px 20px; 
}

.divValue{
  border: none;
  color:#fff;
  border-radius:8px;
  padding:10px;
  background-color: #32a852;
  /* width:20%; */
  display:flex;
  justify-content:center; 
}

footer{
  margin-top: 20px;
  grid-column:1/9;
    grid-row:8/9;
}






  @media (max-width: 425px){
    h2{
      font-size:1.8rem;
    }
  }